In [133]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [166]:
def load_df():
    return pd.read_csv("../data-final.csv", delimiter="\t")

def load_country_codes():
    return pd.read_csv("../country_codes_2020.csv")

def load_population():
    return pd.read_csv("../countries_by_population_2019.csv")

def load_happiness_level():
    return pd.read_csv("../2019.csv")

In [135]:
df = load_df()
df

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,EST1,EST2,EST3,EST4,EST5,EST6,EST7,EST8,EST9,EST10,AGR1,AGR2,AGR3,AGR4,AGR5,AGR6,AGR7,AGR8,AGR9,AGR10,CSN1,CSN2,CSN3,CSN4,CSN5,CSN6,CSN7,CSN8,CSN9,CSN10,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10,EXT1_E,EXT2_E,EXT3_E,EXT4_E,EXT5_E,EXT6_E,EXT7_E,EXT8_E,EXT9_E,EXT10_E,EST1_E,EST2_E,EST3_E,EST4_E,EST5_E,EST6_E,EST7_E,EST8_E,EST9_E,EST10_E,AGR1_E,AGR2_E,AGR3_E,AGR4_E,AGR5_E,AGR6_E,AGR7_E,AGR8_E,AGR9_E,AGR10_E,CSN1_E,CSN2_E,CSN3_E,CSN4_E,CSN5_E,CSN6_E,CSN7_E,CSN8_E,CSN9_E,CSN10_E,OPN1_E,OPN2_E,OPN3_E,OPN4_E,OPN5_E,OPN6_E,OPN7_E,OPN8_E,OPN9_E,OPN10_E,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,5.0,2.0,4.0,2.0,3.0,2.0,4.0,3.0,4.0,3.0,4.0,3.0,2.0,2.0,4.0,4.0,2.0,4.0,4.0,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0,9419.0,5491.0,3959.0,4821.0,5611.0,2756.0,2388.0,2113.0,5900.0,4110.0,6135.0,4150.0,5739.0,6364.0,3663.0,5070.0,5709.0,4285.0,2587.0,3997.0,4750.0,5475.0,11641.0,3115.0,3207.0,3260.0,10235.0,5897.0,1758.0,3081.0,6602.0,5457.0,1569.0,2129.0,3762.0,4420.0,9382.0,5286.0,4983.0,6339.0,3146.0,4067.0,2959.0,3411.0,2170.0,4920.0,4436.0,3116.0,2992.0,4354.0,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,3.0,4.0,1.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,4.0,1.0,5.0,1.0,5.0,3.0,4.0,5.0,3.0,3.0,2.0,5.0,3.0,3.0,1.0,3.0,3.0,5.0,3.0,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0,7235.0,3598.0,3315.0,2564.0,2976.0,3050.0,4787.0,3228.0,3465.0,3309.0,9036.0,2406.0,3484.0,3359.0,3061.0,2539.0,4226.0,2962.0,1799.0,1607.0,2158.0,2090.0,2143.0,2807.0,3422.0,5324.0,4494.0,3627.0,1850.0,1747.0,5163.0,5240.0,7208.0,2783.0,4103.0,3431.0,3347.0,2399.0,3360.0,5595.0,2624.0,4985.0,1684.0,3026.0,4742.0,3336.0,2718.0,3374.0,3096.0,3019.0,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,1.0,4.0,4.0,3.0,4.0,2.0,2.0,2.0,3.0,3.0,4.0,2.0,4.0,2.0,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0,4657.0,3549.0,2543.0,3335.0,5847.0,2540.0,4922.0,3142.0,14621.0,2191.0,5128.0,3675.0,3442.0,4546.0,8275.0,2185.0,2164.0,1175.0,3813.0,1593.0,1089.0,2203.0,3386.0,1464.0,2562.0,1493.0,3067.0,13719.0,3892.0,4100.0,4286.0,4775.0,2713.0,2813.0,4237.0,6308.0,2690.0,1516.0,2379.0,2983.0,1930.0,1470.0,1644.0,1683.0,2229.0,8114.0,2043.0,6295.0,1585.0,2529.0,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,3.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,4.0,3.0,2.0,4.0,3.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0,2.0,4.0,4.0,4.0,1.0,2.0,2.0,3.0,1.0,4.0,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0,3996.0,2896.0,5096.0,4240.0,5168.0,5456.0,4360.0,4496.0,5240.0,4000.0,3736.0,4616.0,3015.0,2711.0,3960.0,4064.0,4208.0,2936.0,7336.0,3896.0,6062.0,11952.0,1040.0,2264.0,3664.0,3049.0,4912.0,7545.0,4632.0,6896.0,2824.0,520.0,2368.0,3225.0,2848.0,6264.0,3760.0,10472.0,3192.0,7704.0,3456.0,6665.0,1977.0,3728.0,4128.0,3776.0,2984.0,4192.0,3480.0,3257.0,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,1.0,5.0,5.0,3.0,1.0,1.0,1.0,1.0,3.0,2.0,1.0,5.0,1.0,5.0,1.0,3.0,1.0,5.0,5.0,3.0,5.0,1.0,5.0,1.0,3.0,1.0,5.0,1.0,5.0,5.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0,6004.0,3965.0,2721.0,3706.0,2968.0,2426.0,7339.0,3302.0,16819.0,3731.0,4740.0,2856.0,7461.0,2179.0,3324.0,2255.0,4308.0,4506.0,3127.0,3115.0,6771.0,2819.0,3682.0,2511.0,16204.0,1736.0,28983.0,1612.0,2437.0,4532.0,3843.0,7019.0,3102.0,3153.0,2869.0,6550.0,1811.0,3682.0,21500.0,20587.0,8458.0,3510.0,17042.0,7029.0,2327.0,5835.0,6846.0,5320.0,11401.0,8642.0,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015336,4.0,2.0,4.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,3.0,5.0,4.0,2.0,5.0,2.0,4.0,2.0,4.0,4.0,4.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,2.0,3.0,3.0,2.0,2.0,4.0,3.0,4.0,2.0,4.0,2.0,2.0,4.0,5694.0,3927.0,4600.0,5255.0,1688.0,2216.0,5064.0,3288.0,4207.0,3807.0,3607.0,3256.0,8575.0,1696.0,2016.0,5488.0,2456.0,3487.0,1655.0,2119.0,1655.0,1937.0,1233.0,3151.0,2576.0,1888.0,2815.0,2964.0,2665.0,2888.0,3008.0,2367.0,2504.0,2544.0,2144.0,4784.0,3529.0,5072.0,2016.0,3353.0,2649.0,3544.0,7577.0,3096.0,1896.0,3912.0,2744.0,2025.0,1873.0,1232.0,2018-11-08 12:04:58,1920.0,1080.0,3.0,160.0,10,2,US,39.9883,-75.2208
1015337,4.0,3.0,4.0,3.0,3.0,3.0,4.0,4.0,3.0,3.0,4.0,3.0,5.0,1.0,5.0,5.0,4.0,4.0,4.0,5.0,2.0,4.0,1.0,4.0,3.0,5.0,3.0,3.0,5.0,3.0,3.0,2.0,3.0,4.0,3.0,3.0,2.0,3.0,2.0,3.0,4.0,1.0,5.0,1.0,5.0,1.0,3.0,4.0,5.0,4.0,2382.0,1984.0,3696.0,1736.0,2272.0,2327.0,2088.0,2296.0,1585.0,3287.0,1752.0,1728.0,1279.0,1768.0,4503.0,1329.0,1640.0,1464.0,2183.0,953.0,2422.0,1448.0,3216.0,6160.0,2208.0,1513.0,2785.0,3833.0,3280.0,1184.0,2096.0,1880.0,3209.0,1744.0,4392.0,1943.0,2263.0,1559.0,1304.0,2176.0,2560.0,6632.0,2312.0,2376.0,2969.0,2271.0,4064.0,1144.0,2936.0,1615.0,2018-11-08 12:07:18,1920.0,1080.0,3.0,122.0,7,1,US,38.0,-97.0
1015338,4.0,2.0,4.0,3.0,5.0,1.0,4.0,2.0,4.0,4.0,3.0,2.0,4.0,3.0,2.0,2.0,4.0,2.0,4.0,1.0,3.0,5.0,5.0,3.0,2.0,3.0,2.0,4.0,3.0,5.0,4.0,5.0,3.0,5.0,1.0,5.0,1.0,4.0,1.0,4.0,5.0,1.0,5.0,1.0,4.0,1.0,5.0,5.0,4.0,5.0,4077.0,2120.0,1688.0,2528.0,1721.0,2711.0,5329.0,2080.0,2992.0,2952.0,1967.0,2305.0,1752.0,3096.0,3206.0,2825.0,2482.0,2358.0,1946.0,2416.0,2487.0,1863.0,1745.0,4040.0,4068.0,1480.0,4550.0,3000.0,5873.0,2088.0,5286.0,2232.0,2942.0,2296.0,1841.0,2303.0,1791.0,2744.0,1196.0,4719.0,2121.0,2807.0,1711.0,2335.0,1609.0,3007.0,2727.0,2648.0,2646.0,1287.0,2018-11-08 12:07:49,1920.0,1080.0,2.0,135.0,12,6,US,36.1473,-86.777
1015339,2.0,4.0,3.0,4.0,2.0,2.0,1.0,4.0,2.0,4.0,4.0,3.0,4.0,2.0,4.0,4.0,2.0,2.0,4.0,4.0,2.0,3.0,2.0,4.0,3.0,4.0,2.0,4.0,4.0,3.0,4.0,2.0,4.0,2.0,2.0,2.0,4.0,2.0,4.0,4.0,5.0,2.0,4.0,2.0,3.0,2.0,4.0,5.0,5.0,3.0,8647.0,2664.0,3544.0,2263.0,2248.0,3024.0,4704.0,3383.0,2488.0,3183.0,2423.0,5807.0,1384.0,2696.0,2800.0,1847.0,4655.0,1232.0,5064.0,4921.0,2982.0,5584.0,2567.0,2168.0,6320.0,3055.0,2580.0,2816.0,2544.0,3744.0,5168.0,3903.0,37726.0,2735.0,1367.0,5056.0,3216.0,3320.0,2263.0,1415.0,5024.0,4664.0,4792.0,6471.0,1873.0,3136.0,3129.0,2799.0,7184.0,2526.0,2018-11-08 12:08:34,1920.0,1080.0,6.0,212.0,8,1,US,34.1067,-117.8067
1015340,4.0,2.0,4.0,2.0,4.0,1.0,4.0,2.0,4.0,4.0,4.0,3.0,4.0,3.0,2.0,3.0,3.0,1.0,4.0,2.0,1.0,5.0,2.0,4.0,3.0,5.0,2.0,3.0,4.0,5.0,3.0,4.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,5.0,1.0,5.0,1.0,3.0,1.0,5.0,4.0,5.0,5.0,4425.0,2472.0,3163.0,2571.0,984.0,2853.0,2987.0,4771.0,3255.0,2918.0,2386.0,2269.0,1952.0,3037.0,2370.0,2370.0,1719.0,4572.0,3087.0,2352.0,6502.0,3751.0,3136.0,6857.0,6608.0,3870.0,8258.0,3037.0,2251.0,3853.0,5106.0,3087.0,3988.0,2469.0,2919.0,3020.0,3104.0,2252.0,4539.0,4539.0,5039.0,2493.0,2302.0,5072.0,1752.0,1935.0,7174.0,4037.0,3422.0,1769.0,2018-11-08 12:08:45,1920.0,1080.0,3.0,176.0,9,1,US,38.0,-97.0

In [230]:
## Parameters

# Question columns
questions = df.columns[:50]

# Answering time columns
q_times = df.columns[50:100]

# Character traits
traits=['EXT','EST','AGR','CSN','OPN']

# Codebook.pkl attributes score points with respect to the personality trait (-1 if negative, 1 if positive)
codebook = pd.read_pickle('codebook.pkl')
codebook = codebook.map(lambda c : int(c))

# Display all the columns
pd.options.display.max_columns = None

In [137]:
# This function encompasses all the preprocessing that has been done during the step of the exploratory data analysis

def data_cleaning(df):
    
    # Keep only records where IPC = 1 and drop the NaNs
    df = df[df['IPC']== 1].dropna()
    
    # Drop the records where the localisation (country, latitude, longitude) is NONE
    df = df[df['country']!='NONE']
    df = df[df['lat_appx_lots_of_err']!='NONE']
    df = df[df['long_appx_lots_of_err']!='NONE']
    
    # set some variables as float
    df['endelapse'] = df['endelapse'].astype(float)
    df['lat_appx_lots_of_err'] = df['lat_appx_lots_of_err'].astype(float)
    df['long_appx_lots_of_err'] = df['long_appx_lots_of_err'].astype(float)

    # set categorical data
    # df['country'] = df['country'].astype(str).astype('category')

    # set datetime data
    df['dateload'] = pd.to_datetime(df['dateload'])
    
    # Discard the records where users didn't answer to more than 90% of the questions
    n_questions= 50
    thresold = n_questions*0.9
    df = df[(df[questions] > 0).sum(axis=1) > thresold]
    
    # We discard the records where there are some negative times (~400)
    df = df[(df[q_times]<0).sum(axis=1) == 0]

    # Discard all the records with time equal to 0 if the corresponding answer is not equal to 0 (~4000)
    df = df[((df[q_times]==0).sum(axis=1) == (df[questions]==0).sum(axis=1))]
    
    return df

In [138]:
def data_scoring(df):
        
    # Computing the score
    scores=pd.DataFrame(0,index = df.index, columns= traits)
    for t in traits:
        trait_questions= [q for q in questions if t in q]
        for tq in trait_questions:
            scores[t] += df[tq]*codebook[tq]
    # Export the data to a pickle
    pd.concat([df,scores], axis = 1).drop(questions.append(q_times),axis = 1).to_pickle('scores.pkl')
    
    # Min Max normalization of the score
    scores = (scores-scores.min())/(scores.max()-scores.min())
    
    return scores

# Milestone 3 - Data wrangling

##### In this part, we are going to :
1. Prepare data for our radar graph :
    - A. Character traits
        - Mean score of each character trait for each country
        - Mean score of each character trait globally
    - B. Response time
        - Mean response time for each character trait for each country
        - Mean response time for each character trait globally


2. Prepare data for our core visualization :
    - Dominant character traits for each country
    - The character trait associated to the longest response time for each country
    - Happiness level of each country
    
    
3. Prepare data for our barplot :
    - For each question, repartition of answers (#people who answered 1, #people who answered 2...) **globally/per country** (this will be interesting to see if there are some big disparities for some questions)

##### Optionally :
- Measure correlations between questions
- Clustering

## Additional preprocessing

### World population

To compute worldwide average, we need to do a weighted average of each country with its **population**.

In [139]:
pop_df = load_population().set_index("Rank")
pop_df = pop_df[['name','pop2019']]
pop_df['pop2019'] = pop_df['pop2019']*1000
pop_df

                  name       pop2019
Rank
1                China  1.433784e+09
2                India  1.366418e+09
3        United States  3.290649e+08
4            Indonesia  2.706256e+08
5             Pakistan  2.165653e+08
...                ...           ...
228         Montserrat  4.989000e+03
229   Falkland Islands  3.377000e+03
230               Niue  1.615000e+03
231            Tokelau  1.340000e+03
232       Vatican City  7.990000e+02

[232 rows x 2 columns]

Add the **country code** to it

In [140]:
country_codes = load_country_codes()
country_codes

                  name cca2 cca3  ccn3
0          Afghanistan   AF  AFG     4
1              Albania   AL  ALB     8
2              Algeria   DZ  DZA    12
3       American Samoa   AS  ASM    16
4              Andorra   AD  AND    20
..                 ...  ...  ...   ...
227  Wallis and Futuna   WF  WLF   876
228     Western Sahara   EH  ESH   732
229              Yemen   YE  YEM   887
230             Zambia   ZM  ZMB   894
231           Zimbabwe   ZW  ZWE   716

[232 rows x 4 columns]

In [141]:
# Check which row has a NaN value
is_NaN = country_codes.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = country_codes[row_has_NaN]
rows_with_NaN

        name cca2 cca3  ccn3
139  Namibia  NaN  NAM   516

In [142]:
# Replace the NaN value with the appropriate 2 letters country code 
country_codes.loc[country_codes['name']=='Namibia', 'cca2'] = 'NA'

In [143]:
# Add the country code to the population dataframe
pop_df = pd.merge(pop_df,
                  country_codes,
                  on='name',
                  how='left')
pop_df

                 name       pop2019 cca2 cca3  ccn3
0               China  1.433784e+09   CN  CHN   156
1               India  1.366418e+09   IN  IND   356
2       United States  3.290649e+08   US  USA   840
3           Indonesia  2.706256e+08   ID  IDN   360
4            Pakistan  2.165653e+08   PK  PAK   586
..                ...           ...  ...  ...   ...
227        Montserrat  4.989000e+03   MS  MSR   500
228  Falkland Islands  3.377000e+03   FK  FLK   238
229              Niue  1.615000e+03   NU  NIU   570
230           Tokelau  1.340000e+03   TK  TKL   772
231      Vatican City  7.990000e+02   VA  VAT   336

[232 rows x 5 columns]

### More data cleaning

Since we are computing global means, we don't want to give the same weight to countries which submitted 1 answer and countries who submitted 340K answers like the US.

We are going to keep countries which have submitted more than 30 answers.

In [175]:
df = data_cleaning(df)

D:\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [176]:
# Countries with more than 100 answers

#country_answers = df.groupby('country')['country'].count().sort_values(ascending = False)
country_answers = df['country'].value_counts()
country_answers = country_answers.where(country_answers>100).reset_index().rename(columns={"index": "country", "country": "count"})
relevant_countries = country_answers.dropna()
relevant_countries

    country     count
0        US  341868.0
1        GB   49279.0
2        CA   43391.0
3        AU   34254.0
4        DE   12135.0
..      ...       ...
106      MD     114.0
107      ME     109.0
108      BZ     109.0
109      GU     105.0
110      BS     104.0

[111 rows x 2 columns]

In [182]:
# Dropping the countries with less than 100 answers
rel_countries_arr = relevant_countries['country'].array
df = df[df['country'].isin(rel_countries_arr)]

## 1. Prepare data for our radar graph

### Character trait

##### Mean score of each character trait for each country

In [198]:
scores = data_scoring(df)
df_scores = pd.concat([df, scores],axis=1)
df_scores.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,EST1,EST2,EST3,EST4,EST5,EST6,EST7,EST8,EST9,EST10,AGR1,AGR2,AGR3,AGR4,AGR5,AGR6,AGR7,AGR8,AGR9,AGR10,CSN1,CSN2,CSN3,CSN4,CSN5,CSN6,CSN7,CSN8,CSN9,CSN10,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10,EXT1_E,EXT2_E,EXT3_E,EXT4_E,EXT5_E,EXT6_E,EXT7_E,EXT8_E,EXT9_E,EXT10_E,EST1_E,EST2_E,EST3_E,EST4_E,EST5_E,EST6_E,EST7_E,EST8_E,EST9_E,EST10_E,AGR1_E,AGR2_E,AGR3_E,AGR4_E,AGR5_E,AGR6_E,AGR7_E,AGR8_E,AGR9_E,AGR10_E,CSN1_E,CSN2_E,CSN3_E,CSN4_E,CSN5_E,CSN6_E,CSN7_E,CSN8_E,CSN9_E,CSN10_E,OPN1_E,OPN2_E,OPN3_E,OPN4_E,OPN5_E,OPN6_E,OPN7_E,OPN8_E,OPN9_E,OPN10_E,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err,EXT,EST,AGR,CSN,OPN
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,5.0,2.0,4.0,2.0,3.0,2.0,4.0,3.0,4.0,3.0,4.0,3.0,2.0,2.0,4.0,4.0,2.0,4.0,4.0,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0,9419.0,5491.0,3959.0,4821.0,5611.0,2756.0,2388.0,2113.0,5900.0,4110.0,6135.0,4150.0,5739.0,6364.0,3663.0,5070.0,5709.0,4285.0,2587.0,3997.0,4750.0,5475.0,11641.0,3115.0,3207.0,3260.0,10235.0,5897.0,1758.0,3081.0,6602.0,5457.0,1569.0,2129.0,3762.0,4420.0,9382.0,5286.0,4983.0,6339.0,3146.0,4067.0,2959.0,3411.0,2170.0,4920.0,4436.0,3116.0,2992.0,4354.0,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6.0,1,GB,51.5448,0.1991,0.863636,0.651163,0.720930,0.534884,0.833333
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,3.0,4.0,1.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,4.0,1.0,5.0,1.0,5.0,3.0,4.0,5.0,3.0,3.0,2.0,5.0,3.0,3.0,1.0,3.0,3.0,5.0,3.0,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0,7235.0,3598.0,3315.0,2564.0,2976.0,3050.0,4787.0,3228.0,3465.0,3309.0,9036.0,2406.0,3484.0,3359.0,3061.0,2539.0,4226.0,2962.0,1799.0,1607.0,2158.0,2090.0,2143.0,2807.0,3422.0,5324.0,4494.0,3627.0,1850.0,1747.0,5163.0,5240.0,7208.0,2783.0,4103.0,3431.0,3347.0,2399.0,3360.0,5595.0,2624.0,4985.0,1684.0,3026.0,4742.0,3336.0,2718.0,3374.0,3096.0,3019.0,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11.0,1,MY,3.1698,101.7060,0.272727,0.627907,0.837209,0.651163,0.595238
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,1.0,4.0,4.0,3.0,4.0,2.0,2.0,2.0,3.0,3.0,4.0,2.0,4.0,2.0,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0,4657.0,3549.0,2543.0,3335.0,5847.0,2540.0,4922.0,3142.0,14621.0,2191.0,5128.0,3675.0,3442.0,4546.0,8275.0,2185.0,2164.0,1175.0,3813.0,1593.0,1089.0,2203.0,3386.0,1464.0,2562.0,1493.0,3067.0,13719.0,3892.0,4100.0,4286.0,4775.0,2713.0,2813.0,4237.0,6308.0,2690.0,1516.0,2379.0,2983.0,1930.0,1470.0,1644.0,1683.0,2229.0,8114.0,2043.0,6295.0,1585.0,2529.0,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7.0,1,GB,54.9119,-1.3833,0.386364,0.604651,0.790698,0.581395,0.738095
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,3.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,4.0,3.0,2.0,4.0,3.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0,2.0,4.0,4.0,4.0,1.0,2.0,2.0,3.0,1.0,4.0,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0,3996.0,2896.0,5096.0,4240.0,5168.0,5456.0,4360.0,4496.0,5240.0,4000.0,3736.0,4616.0,3015.0,2711.0,3960.0,4064.0,4208.0,2936.0,7336.0,3896.0,6062.0,11952.0,1040.0,2264.0,3664.0,3049.0,4912.0,7545.0,4632.0,6896.0,2824.0,520.0,2368.0,3225.0,2848.0,6264.0,3760.0,10472.0,3192.0,7704.0,3456.0,6665.0,1977.0,3728.0,4128.0,3776.0,2984.0,4192.0,3480.0,3257.0,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7.0,1,GB,51.7500,-1.2500,0.409091,0.534884,0.697674,0.372093,0.690476
5,3.0,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,4.0,3.0,4.0,3.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,3.0,1.0,4.0,2.0,3.0,2.0,3.0,4.0,4.0,3.0,2.0,4.0,1.0,3.0,2.0,4.0,3.0,4.0,3.0,5.0,1.0,5.0,1.0,3.0,1.0,5.0,4.0,5.0,2.0,4834.0,5064.0,1160.0,2664.0,6711.0,3344.0,2512.0,6264.0,6992.0,4592.0,2808.0,1776.0,3280.0,4520.0,2640.0,5408.0,3647.0,3183.0,1575.0,672.0,6375.0,4727.0,3775.0,1647.0,1233.0,8694.0,2904.0,2152.0,2856.0,2848.0,4288.0,4360.0,7328.0,3976.0,7895.0,2640.0,1760.0,5720.0,9032.0,3928.0,2104.0,5488.0,3656.0,4352.0,2681.0,3272.0,2640.0,1568.0,1640.0,3192.0,2016-03-03 02:03:12,1600.0,1000.0,4.0,196.0,3.0,1,SE,59.3333,18.0500,0.545455,0.697674,0.697674,0.651163,0.809524

In [200]:
country_score = df_scores.groupby('country').mean().iloc[:,-5:].dropna()
country_score

              EXT       EST       AGR       CSN       OPN
country
AE       0.495253  0.469804  0.690683  0.575437  0.660845
AL       0.463911  0.479458  0.654313  0.556129  0.718883
AR       0.465901  0.456904  0.659159  0.525211  0.713289
AT       0.493501  0.511761  0.668409  0.542789  0.731411
AU       0.489265  0.497872  0.694576  0.569353  0.686811
...           ...       ...       ...       ...       ...
US       0.486584  0.502260  0.704111  0.581290  0.699539
UY       0.471401  0.484343  0.668057  0.538842  0.702707
VE       0.476964  0.474604  0.638756  0.534154  0.708389
VN       0.432191  0.460646  0.640907  0.527160  0.633328
ZA       0.473122  0.491468  0.689188  0.585376  0.715337

[111 rows x 5 columns]

In [201]:
# Exporting the result to JSON format
country_score.to_json(r'Data/country_score.json',orient='index')

##### Mean score of each character trait globally

In [191]:
# Check if there are countries that aren't in the population dataset
for c in df['country'].unique():
    if c not in pop_df['cca2'].unique():
        print("There is :", c)

In [207]:
# Add the population
country_score_pop = pd.merge(country_score,
                            pop_df[['name','cca2','pop2019']],
                            left_on='country',
                            right_on='cca2',
                            how='left').set_index('cca2')
country_score_pop.head()

,EXT,EST,AGR,CSN,OPN,name,pop2019
cca2,,,,,,,
AE,0.495253,0.469804,0.690683,0.575437,0.660845,United Arab Emirates,9770529.0
AL,0.463911,0.479458,0.654313,0.556129,0.718883,Albania,2880917.0
AR,0.465901,0.456904,0.659159,0.525211,0.713289,Argentina,44780677.0
AT,0.493501,0.511761,0.668409,0.542789,0.731411,Austria,8955102.0
AU,0.489265,0.497872,0.694576,0.569353,0.686811,Australia,25203198.0
...,...,...,...,...,...,...,...
US,0.486584,0.502260,0.704111,0.581290,0.699539,United States,329064917.0
UY,0.471401,0.484343,0.668057,0.538842,0.702707,Uruguay,3461734.0
VE,0.476964,0.474604,0.638756,0.534154,0.708389,Venezuela,28515829.0
VN,0.432191,0.460646,0.640907,0.527160,0.633328,Vietnam,96462106.0
ZA,0.473122,0.491468,0.689188,0.585376,0.715337,South Africa,58558270.0

In [224]:
# Weighted average per country
for t in traits:
    country_score_pop[t] = country_score[t]*country_score_pop['pop2019']
country_score_pop.head()

,EXT,EST,AGR,CSN,OPN,name,pop2019
cca2,,,,,,,
AE,4.838881e+06,4.590231e+06,6.748337e+06,5.622321e+06,6.456805e+06,United Arab Emirates,9770529.0
AL,1.336490e+06,1.381280e+06,1.885021e+06,1.602161e+06,2.071042e+06,Albania,2880917.0
AR,2.086338e+07,2.046048e+07,2.951761e+07,2.351931e+07,3.194156e+07,Argentina,44780677.0
AT,4.419356e+06,4.582869e+06,5.985667e+06,4.860727e+06,6.549858e+06,Austria,8955102.0
AU,1.233103e+07,1.254796e+07,1.750553e+07,1.434951e+07,1.730983e+07,Australia,25203198.0

In [240]:
# Compute the weighted average score
global_score = country_score_pop.copy()
# Keep only the relevant columns
global_score = global_score[traits+['pop2019']]
# Compute the sum
global_score = global_score.sum()
# Average
for t in traits:
    global_score[t] = global_score[t]/global_score['pop2019']
global_score = global_score[traits]
global_score

EXT    0.477662
EST    0.487010
AGR    0.670612
CSN    0.558516
OPN    0.668362
dtype: float64

In [241]:
# Exporting the result to JSON format
global_score.to_json(r'Data/global_score.json',orient='index')

### Response time

##### Mean response time for each character trait for each country

In [242]:
# Compute the response time for each character trait
df_times = df.copy()
times = []
counter = 0
for t in traits:
    df_times[t+"_Time"] = df.iloc[:,50+counter*10 : 60+counter*10].sum(axis=1)
    counter += 1
df_times.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,EST1,EST2,EST3,EST4,EST5,EST6,EST7,EST8,EST9,EST10,AGR1,AGR2,AGR3,AGR4,AGR5,AGR6,AGR7,AGR8,AGR9,AGR10,CSN1,CSN2,CSN3,CSN4,CSN5,CSN6,CSN7,CSN8,CSN9,CSN10,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10,EXT1_E,EXT2_E,EXT3_E,EXT4_E,EXT5_E,EXT6_E,EXT7_E,EXT8_E,EXT9_E,EXT10_E,EST1_E,EST2_E,EST3_E,EST4_E,EST5_E,EST6_E,EST7_E,EST8_E,EST9_E,EST10_E,AGR1_E,AGR2_E,AGR3_E,AGR4_E,AGR5_E,AGR6_E,AGR7_E,AGR8_E,AGR9_E,AGR10_E,CSN1_E,CSN2_E,CSN3_E,CSN4_E,CSN5_E,CSN6_E,CSN7_E,CSN8_E,CSN9_E,CSN10_E,OPN1_E,OPN2_E,OPN3_E,OPN4_E,OPN5_E,OPN6_E,OPN7_E,OPN8_E,OPN9_E,OPN10_E,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err,EXT_Time,EST_Time,AGR_Time,CSN_Time,OPN_Time
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,5.0,2.0,4.0,2.0,3.0,2.0,4.0,3.0,4.0,3.0,4.0,3.0,2.0,2.0,4.0,4.0,2.0,4.0,4.0,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0,9419.0,5491.0,3959.0,4821.0,5611.0,2756.0,2388.0,2113.0,5900.0,4110.0,6135.0,4150.0,5739.0,6364.0,3663.0,5070.0,5709.0,4285.0,2587.0,3997.0,4750.0,5475.0,11641.0,3115.0,3207.0,3260.0,10235.0,5897.0,1758.0,3081.0,6602.0,5457.0,1569.0,2129.0,3762.0,4420.0,9382.0,5286.0,4983.0,6339.0,3146.0,4067.0,2959.0,3411.0,2170.0,4920.0,4436.0,3116.0,2992.0,4354.0,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6.0,1,GB,51.5448,0.1991,46568.0,47699.0,52419.0,49929.0,35571.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,2.0,3.0,4.0,1.0,3.0,1.0,2.0,1.0,3.0,1.0,1.0,4.0,1.0,5.0,1.0,5.0,3.0,4.0,5.0,3.0,3.0,2.0,5.0,3.0,3.0,1.0,3.0,3.0,5.0,3.0,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0,7235.0,3598.0,3315.0,2564.0,2976.0,3050.0,4787.0,3228.0,3465.0,3309.0,9036.0,2406.0,3484.0,3359.0,3061.0,2539.0,4226.0,2962.0,1799.0,1607.0,2158.0,2090.0,2143.0,2807.0,3422.0,5324.0,4494.0,3627.0,1850.0,1747.0,5163.0,5240.0,7208.0,2783.0,4103.0,3431.0,3347.0,2399.0,3360.0,5595.0,2624.0,4985.0,1684.0,3026.0,4742.0,3336.0,2718.0,3374.0,3096.0,3019.0,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11.0,1,MY,3.1698,101.7060,37527.0,34479.0,29662.0,42629.0,32604.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0,1.0,4.0,1.0,4.0,2.0,4.0,1.0,4.0,4.0,3.0,4.0,2.0,2.0,2.0,3.0,3.0,4.0,2.0,4.0,2.0,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0,4657.0,3549.0,2543.0,3335.0,5847.0,2540.0,4922.0,3142.0,14621.0,2191.0,5128.0,3675.0,3442.0,4546.0,8275.0,2185.0,2164.0,1175.0,3813.0,1593.0,1089.0,2203.0,3386.0,1464.0,2562.0,1493.0,3067.0,13719.0,3892.0,4100.0,4286.0,4775.0,2713.0,2813.0,4237.0,6308.0,2690.0,1516.0,2379.0,2983.0,1930.0,1470.0,1644.0,1683.0,2229.0,8114.0,2043.0,6295.0,1585.0,2529.0,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7.0,1,GB,54.9119,-1.3833,47347.0,35996.0,36975.0,34700.0,29522.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,3.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,4.0,3.0,2.0,4.0,3.0,4.0,2.0,4.0,2.0,4.0,3.0,4.0,2.0,4.0,4.0,4.0,1.0,2.0,2.0,3.0,1.0,4.0,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0,3996.0,2896.0,5096.0,4240.0,5168.0,5456.0,4360.0,4496.0,5240.0,4000.0,3736.0,4616.0,3015.0,2711.0,3960.0,4064.0,4208.0,2936.0,7336.0,3896.0,6062.0,11952.0,1040.0,2264.0,3664.0,3049.0,4912.0,7545.0,4632.0,6896.0,2824.0,520.0,2368.0,3225.0,2848.0,6264.0,3760.0,10472.0,3192.0,7704.0,3456.0,6665.0,1977.0,3728.0,4128.0,3776.0,2984.0,4192.0,3480.0,3257.0,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7.0,1,GB,51.7500,-1.2500,44948.0,40478.0,52016.0,43177.0,37643.0
5,3.0,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,4.0,3.0,4.0,3.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,3.0,1.0,4.0,2.0,3.0,2.0,3.0,4.0,4.0,3.0,2.0,4.0,1.0,3.0,2.0,4.0,3.0,4.0,3.0,5.0,1.0,5.0,1.0,3.0,1.0,5.0,4.0,5.0,2.0,4834.0,5064.0,1160.0,2664.0,6711.0,3344.0,2512.0,6264.0,6992.0,4592.0,2808.0,1776.0,3280.0,4520.0,2640.0,5408.0,3647.0,3183.0,1575.0,672.0,6375.0,4727.0,3775.0,1647.0,1233.0,8694.0,2904.0,2152.0,2856.0,2848.0,4288.0,4360.0,7328.0,3976.0,7895.0,2640.0,1760.0,5720.0,9032.0,3928.0,2104.0,5488.0,3656.0,4352.0,2681.0,3272.0,2640.0,1568.0,1640.0,3192.0,2016-03-03 02:03:12,1600.0,1000.0,4.0,196.0,3.0,1,SE,59.3333,18.0500,44137.0,29509.0,37211.0,50927.0,30593.0

In [243]:
country_time = df_times.groupby('country').mean().iloc[:,-5:].dropna()
country_time

,EXT_Time,EST_Time,AGR_Time,CSN_Time,OPN_Time
country,,,,,
AE,1.286582e+06,61175.667155,75491.737921,81581.478770,86013.057589
AL,6.904129e+04,57473.357349,61367.132565,83083.530259,59545.616715
AR,1.247762e+05,72207.330130,100029.659918,110575.508579,85478.889156
AT,7.089036e+04,58722.715101,82069.329528,74859.321225,57236.483134
AU,1.643743e+05,74697.174695,68979.235359,74474.065131,61342.037047
...,...,...,...,...,...
US,1.520331e+05,68397.669729,82681.506219,88463.794798,75539.305328
UY,2.122237e+05,62391.449848,65364.939210,76599.063830,90527.255319
VE,1.719538e+05,180721.432570,85282.033927,112889.375742,70366.413062
VN,1.164300e+05,88254.883212,102849.476277,88672.665450,108326.013382
ZA,8.851268e+04,72207.410118,55475.609975,80399.164693,84978.276642

In [44]:
# Exporting the result to JSON format
country_time.to_json(r'Data/country_time.json',orient='index')

##### Mean response time for each character trait globally

In [251]:
# Add the population
country_time_pop = pd.merge(country_time,
                            pop_df[['name','cca2','pop2019']],
                            left_on='country',
                            right_on='cca2',
                            how='left').set_index('cca2')
country_time_pop.head()

,EXT_Time,EST_Time,AGR_Time,CSN_Time,OPN_Time,name,pop2019
cca2,,,,,,,
AE,1.286582e+06,61175.667155,75491.737921,81581.478770,86013.057589,United Arab Emirates,9770529.0
AL,6.904129e+04,57473.357349,61367.132565,83083.530259,59545.616715,Albania,2880917.0
AR,1.247762e+05,72207.330130,100029.659918,110575.508579,85478.889156,Argentina,44780677.0
AT,7.089036e+04,58722.715101,82069.329528,74859.321225,57236.483134,Austria,8955102.0
AU,1.643743e+05,74697.174695,68979.235359,74474.065131,61342.037047,Australia,25203198.0
...,...,...,...,...,...,...,...
US,1.520331e+05,68397.669729,82681.506219,88463.794798,75539.305328,United States,329064917.0
UY,2.122237e+05,62391.449848,65364.939210,76599.063830,90527.255319,Uruguay,3461734.0
VE,1.719538e+05,180721.432570,85282.033927,112889.375742,70366.413062,Venezuela,28515829.0
VN,1.164300e+05,88254.883212,102849.476277,88672.665450,108326.013382,Vietnam,96462106.0
ZA,8.851268e+04,72207.410118,55475.609975,80399.164693,84978.276642,South Africa,58558270.0

In [255]:
# Weighted average per country
time_traits = []
for t in traits :
    time_traits.append(t+'_Time')
for t in time_traits:
    country_time_pop[t] = country_time[t]*country_time_pop['pop2019']
country_time_pop.head()

,EXT_Time,EST_Time,AGR_Time,CSN_Time,OPN_Time,name,pop2019
cca2,,,,,,,
AE,1.257059e+13,5.977186e+11,7.375942e+11,7.970942e+11,8.403931e+11,United Arab Emirates,9770529.0
AL,1.989022e+11,1.655760e+11,1.767936e+11,2.393568e+11,1.715460e+11,Albania,2880917.0
AR,5.587565e+12,3.233493e+12,4.479396e+12,4.951646e+12,3.827803e+12,Argentina,44780677.0
AT,6.348304e+11,5.258679e+11,7.349392e+11,6.703729e+11,5.125585e+11,Austria,8955102.0
AU,4.142758e+12,1.882608e+12,1.738497e+12,1.876985e+12,1.546016e+12,Australia,25203198.0

In [257]:
# Compute the weighted average response time
global_time = country_time_pop.copy()
# Keep only the relevant columns
global_time = global_time[time_traits+['pop2019']]
# Compute the sum
global_time = global_time.sum()
# Average
for t in time_traits:
    global_time[t] = global_time[t]/global_time['pop2019']
global_time = global_time[time_traits]
global_time

EXT_Time    156518.522892
EST_Time     77949.260617
AGR_Time    119946.693915
CSN_Time     98244.589898
OPN_Time     86000.874246
dtype: float64

In [258]:
# Exporting the result to JSON format
global_time.to_json(r'Data/global_time.json',orient='index')

## 2. Prepare data for our core visualization

##### Dominant character trait for each country

In [259]:
# Computing the distance between the global score and the country score
global_to_country_score_distance = country_score - global_score
global_to_country_score_distance

              EXT       EST       AGR       CSN       OPN
country
AE       0.017591 -0.017206  0.020071  0.016920 -0.007517
AL      -0.013751 -0.007551 -0.016299 -0.002387  0.050521
AR      -0.011761 -0.030106 -0.011452 -0.033305  0.044927
AT       0.015839  0.024751 -0.002203 -0.015728  0.063049
AU       0.011603  0.010862  0.023964  0.010836  0.018449
...           ...       ...       ...       ...       ...
US       0.008922  0.015250  0.033500  0.022773  0.031177
UY      -0.006261 -0.002667 -0.002555 -0.019674  0.034345
VE      -0.000698 -0.012406 -0.031856 -0.024362  0.040027
VN      -0.045471 -0.026364 -0.029705 -0.031356 -0.035034
ZA      -0.004540  0.004458  0.018576  0.026859  0.046975

[111 rows x 5 columns]

In [260]:
country_trait = global_to_country_score_distance.apply(lambda x: pd.Series(x.idxmax(), index=['dominant trait']), axis=1)
country_trait

        dominant trait
country
AE                 AGR
AL                 OPN
AR                 OPN
AT                 OPN
AU                 AGR
...                ...
US                 AGR
UY                 OPN
VE                 OPN
VN                 EST
ZA                 OPN

[111 rows x 1 columns]

In [261]:
# Exporting the result to JSON format
country_trait.to_json(r'Data/country_trait.json',orient='index')

##### Character trait associated to longest response time for each country

In [263]:
# Computing the distance between the global time and the country time
global_to_country_time_distance = country_time - global_time
global_to_country_time_distance

             EXT_Time       EST_Time      AGR_Time      CSN_Time      OPN_Time
country
AE       1.130063e+06  -16773.593462 -44454.955994 -16663.111128     12.183343
AL      -8.747723e+04  -20475.903268 -58579.561350 -15161.059639 -26455.257531
AR      -3.174228e+04   -5741.930486 -19917.033997  12330.918681   -521.985090
AT      -8.562816e+04  -19226.545516 -37877.364387 -23385.268674 -28764.391111
AU       7.855770e+03   -3252.085922 -50967.458555 -23770.524767 -24658.837199
...               ...            ...           ...           ...           ...
US      -4.485436e+03   -9551.590888 -37265.187696  -9780.795100 -10461.568917
UY       5.570518e+04  -15557.810769 -54581.754705 -21645.526068   4526.381073
VE       1.543532e+04  102772.171953 -34664.659988  14644.785844 -15634.461184
VN      -4.008855e+04   10305.622595 -17097.217637  -9571.924448  22325.139136
ZA      -6.800585e+04   -5741.850498 -64471.083940 -17845.425205  -1022.597604

[111 rows x 5 columns]

In [267]:
country_sensitive_trait = global_to_country_time_distance.apply(lambda x: pd.Series(x.idxmax()[:-5], index=['Trait associated to longest response time']), axis=1)
country_sensitive_trait

        Trait associated to longest response time
country
AE                                            EXT
AL                                            CSN
AR                                            CSN
AT                                            EST
AU                                            EXT
...                                           ...
US                                            EXT
UY                                            EXT
VE                                            EST
VN                                            OPN
ZA                                            OPN

[111 rows x 1 columns]

In [268]:
# Exporting the result to JSON format
country_sensitive_trait.to_json(r'Data/country_sensitive_trait.json',orient='index')

##### Happiness level

In [274]:
# Load data
happiness_df = load_happiness_level()
# Keep useful columns
happiness_df = happiness_df[['Country or region','Overall rank','Score']]
# Rename columns
happiness_df = happiness_df.rename(columns={"Country or region": "name", "Overall rank": "rank", "Score": "score"})
# Add the country code to the happiness dataframe
happiness_df = pd.merge(happiness_df,
                        country_codes,
                        on='name',)
happiness_df = happiness_df[['cca2','score']].set_index('cca2')
happiness_df

      score
cca2
FI    7.769
DK    7.600
NO    7.554
IS    7.494
NL    7.488
...     ...
RW    3.334
TZ    3.231
AF    3.203
CF    3.083
SS    2.853

[149 rows x 1 columns]

In [ ]:
# Exporting the result to JSON format
happiness_df.to_json(r'Data/country_happiness_level.json',orient='index')

## 3. Prepare data for our barplot

In [270]:
df.groupby('country')['EXT1'].value_counts().unstack().fillna(0)

EXT1       0.0      1.0      2.0      3.0      4.0      5.0
country
AE         2.0    475.0    338.0    668.0    360.0    206.0
AL         0.0    100.0     64.0    107.0     48.0     28.0
AR         1.0    865.0    488.0    952.0    439.0    169.0
AT         3.0    530.0    454.0    496.0    351.0     93.0
AU        31.0   8480.0   7196.0   9813.0   6818.0   1916.0
...        ...      ...      ...      ...      ...      ...
US       302.0  87889.0  70038.0  93401.0  65645.0  24593.0
UY         0.0     93.0     65.0     92.0     62.0     17.0
VE         0.0    344.0    185.0    453.0    145.0     52.0
VN         3.0    571.0    339.0    444.0    192.0     95.0
ZA         4.0    873.0    525.0    757.0    448.0    180.0

[111 rows x 6 columns]